FORMAT: 1A
HOST: https://push.notifica.re/

# Notificare REST API
Unified remote push notifications and location services for iOS, Android and HTML5 apps. 
Create user profiles, categorize your users and devices, create/schedule any content-rich and actionable notification. 
Use Geo-Targeting, Geo-Fencing or iBeacon technology to provide the ultimate messaging experience. Sign up for free [here](https://dashboard.notifica.re/#/sign-up).

The API calls below are all authenticated. There are 4 types of authentication credentials:

- `email` / `password`: Used for signing in to your account and retrieving a session token

- `token`: Used for all calls that need account-wide access, such as stats, lists of applications, etc.

- `applicationKey` / `applicationSecret`: Only used for calls that originate from the device, e.g., registration, tags.

- `applicationKey` / `masterSecret`: Used for calls that are related to a specific application and originate from your backend system, e.g., push, user segments, user lists, device lists, regions.

All 4 types use normal Basic HTTP Authentication (username + password), in case of token, the password is ignored, so can be anything, e.g. "xxx"


For more information about this API, please [contact us](http://notifica.re/contact).


# Group Account
Handles authentication with the REST API.
Includes the `token` that will be required to create, edit and delete applications and get global stats about your account.


## Account [/account/login]
In order to handle authentication in our REST API you will need to at least implement the endpoints for login and logout of your account. By default only these 2 endpoints are required to handle your account. If you're using or will enable 2FA, account authentication will be extended with the endpoints provided in the 2FA section.

### Account Login [POST]
Retrieve session token based on account credentials. This request must be authenticated with the `email` and `password`.

+ Response 201 (application/json; charset=utf-8)

        {
            account: "5245bc5b3e66a3b01f0024d4",
            token: "5245bc5b3e66a3b01f2224d4",
            expires: "2013-11-25T15:19:10.000Z",
            needsSecondFactor: false
        }

+ Response 401 (application/json; charset=utf-8)

        {
                "error":"wrong credentials"
        }

+ Response 404 (application/json; charset=utf-8)

        {
                "error":"account not found"
        }
        
+ Response 403 (application/json; charset=utf-8)

        {
                "error":"account inactive"
        }

+ Response 403 (application/json; charset=utf-8)

        {
                "error":"account blocked"
        }

+ Response 429 (application/json; charset=utf-8)

        {
                "error":"too many login attempts"
        }

### Account Logout [DELETE]
Delete account session. This request must be authenticated with the `token`.

+ Response 204 (application/json; charset=utf-8)

        {

        }

## Two Step Verification [/account/login/totp]
Once you enable a 2FA authentication method, the endpoint for account login will return the property `needsSecondFactor` as true. Whenever that is the case, you need to implement also this endpoint in order to provide us with the 6 digit code required to start a session. Failing to do this will result in HTTP errors for all endpoints using the session token.

### 2nd Step [POST]
Provide the 6 digit code after retrieving session token with account credentials. This request must be authenticated with the `token`.

+ Parameters

    + code = `123456` (required, number, `123456`)...The code generated by Google Authenticator app.


+ Response 201 (application/json; charset=utf-8)

        {
            account: "5245bc5b3e66a3b01f0024d4",
            token: "5245bc5b3e66a3b01f2224d4",
            expires: "2013-11-25T15:19:10.000Z",
            needsSecondFactor: false
        }


## 2FA [/account/2fa]
As an extra layer of security you can choose to enable Two Factor Authentication for your account. This feature currently supports only TOTP (Time-based One-Time Password) with the Google Authenticator app which generates one time codes that will be required every time you try to start a new session. Support for channels like U2F (Universal 2nd Factor Authentication) and SMS (Short Message Service) are currently being developed.

### Check 2FA Status [GET]
Retrieve the account 2FA state. This should provide information about 2FA functionality for your account. This request must be authenticated with the `token`.

+ Response 200 (application/json; charset=utf-8)

        {
            use2FA: false,
            totp: {
                configured: false,
                verified; false,
                date: "2013-11-25T15:19:10.000Z"
            },
            u2f: {
                configured: false
            }
        }

## Configuring TOTP [/account/2fa/totp]
As part of the 2FA setup, registering for TOTP is required in order to obtained the URL required to open Google Authenticator app and configure, enable or disable a TOTP.

### Register for TOTP [POST]
Register your account for TOTP. This endpoint will provide you a key (for manual setup) and URL (to create a QRCode) that allows you to configure the Google Authenticator app. This request must be authenticated with the `token`.

+ Response 200 (application/json; charset=utf-8)

        {
            key: "xxx",
            url: "otpauth://totp/xxx?secret=xxx&period=30&issuer=xxx"
        }

+ Response 403 (application/json; charset=utf-8)

        {
                "error":"authenticator already setup"
        }

### Unregister for TOTP [DELETE]
Unregister your account for TOTP. This endpoint will delete the setup for the Google Authenticator app. This request must be authenticated with the `token`.

+ Response 204 (application/json; charset=utf-8)

        {

        }

+ Response 403 (application/json; charset=utf-8)

        {
                "error":"second factor enabled, needs at least one verified method"
        }

+ Response 403 (application/json; charset=utf-8)

        {
                "error":"authenticator not setup"
        }

## Enabling TOTP [/account/2fa/enable]

### Enable TOTP [PUT]
At any time when your account has been configured for 2FA, you can use this endpoint to enable it. This request must be authenticated with the `token`.

+ Response 200 (application/json; charset=utf-8)

        {
            message: "second factor enabled"
        }

+ Response 200 (application/json; charset=utf-8)

        {
            message: "second factor already enabled"
        }


+ Response 403 (application/json; charset=utf-8)

        {
                "error":"no second factor configured"
        }
+ Response 403 (application/json; charset=utf-8)

        {
                "error":"no verified second factor"
        }


## Disabling TOTP [/account/2fa/disable]

### Disable TOTP [PUT]
At any time when your account has been configured for 2FA and is enabled, you can disable it. This request must be authenticated with the `token`.

+ Response 200 (application/json; charset=utf-8)

        {
            message: "second factor disabled"
        }

+ Response 200 (application/json; charset=utf-8)

        {
            message: "second factor already disabled"
        }



# Group Application
Your account can create as many applications as you want. 
Applications must provide a name, a category and the environment it should use. When you create an application three access keys will be automatically created for you. 
These keys will be used in by both your apps and this API to access your applications. Make sure you never share these keys publicly online. 

## Applications [/application{?limit,skip}]

### Get all applications [GET]
Get your active applications. This request must be authenticated with the `token`.

+ Parameters

    + limit = `50` (optional, number, `10`)...The number of results to retrieve.

    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 201 (application/json; charset=utf-8)

        {
                "applications":[
                                 {
                                   "_id":"5245bc5b3e66a3b01f0024d4",
                                   "account": "5245bc5b3e66a3b01f0024d4",
                                   "applicationKey": "xxxxxxxxxxxxx",
                                   "applicationSecret": "xxxxxxxxxxxx",
                                   "authProviders": [
                                                      {
                                                        "provider": "twitter"
                                                      }
                                                    ],
                                   "masterSecret": "xxxxxxxxxx",
                                   "name": "Your App",
                                   "gcmConfig": {
                                                 "key": "xxxxxxxxxxxxxxxxxxxxx"
                                    },
                                   "apnsConfig": {
                                                   "certificate": "raw certificate",
                                                   "info": {
                                                   "serial": "xxxxxx",
                                                   "subject": {
                                                                "UID": "re.notifica.test",
                                                                "CN": "Apple Development IOS Push Services: re.notifica.test",
                                                                "OU": "XXXXXXXXXX",
                                                                "C": "NL"
                                                    },
                                                    "issuer": {
                                                                "C": "US",
                                                                "O": "Apple Inc.",
                                                                "OU": "Apple Worldwide Developer Relations",
                                                                "CN": "Apple Worldwide Developer Relations Certification Authority"
                                                    },
                                                    "notBefore": "2013-11-25T15:19:10.000Z",
                                                    "notAfter": "2014-11-25T15:19:10.000Z"
                                                 }
                                    },
                                    "regionConfig": {
                                                      "proximityUUID": "f7826da6-4fa2-4e98-8024-bc5b71e0893e"
                                                    },
                                    "actionCategories": [{
                                            "name": "MyTemplate",
                                            "type": "re.notifica.notification.Alert",
                                            "actions": [{
                                                "label": "follow",
                                                "type": "re.notifica.action.Callback",
                                                "target": "",
                                                "camera": false,
                                                "keyboard": false,
                                                "destructive": false
                                            }]
                                        }],
                                    "locationTtl": 7,
                                    "production": false,
                                    "active": true,
                                    "blocked": false,
                                    "date": "2012-11-28T15:31:54.904Z",
                                    "category": "Other"
                                  }
                ]
        }

## Shared Applications [/application/shared{?limit,skip}]

### Get all shared applications [GET]
Get all the active applications that are shared with your account. This request must be authenticated with the `token`.

+ Parameters

    + limit = `50` (optional, number, `10`)...The maximum number of results to retrieve.

    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 201 (application/json; charset=utf-8)

        {
                "applications":[
                                 {
                                   "_id":"5245bc5b3e66a3b01f0024d4",
                                   "account": "5245bc5b3e66a3b01f0024d4",
                                   "applicationKey": "xxxxxxxxxxxxx",
                                   "applicationSecret": "xxxxxxxxxxxx",
                                   "authProviders": [
                                                      {
                                                        "provider": "twitter"
                                                      }
                                                    ],
                                   "masterSecret": "xxxxxxxxxx",
                                   "name": "Your App",
                                   "gcmConfig": {
                                                 "key": "xxxxxxxxxxxxxxxxxxxxx"
                                    },
                                   "apnsConfig": {
                                                   "certificate": "raw certificate",
                                                   "info": {
                                                   "serial": "xxxxxx",
                                                   "subject": {
                                                                "UID": "re.notifica.test",
                                                                "CN": "Apple Development IOS Push Services: re.notifica.test",
                                                                "OU": "XXXXXXXXXX",
                                                                "C": "NL"
                                                    },
                                                    "issuer": {
                                                                "C": "US",
                                                                "O": "Apple Inc.",
                                                                "OU": "Apple Worldwide Developer Relations",
                                                                "CN": "Apple Worldwide Developer Relations Certification Authority"
                                                    },
                                                    "notBefore": "2013-11-25T15:19:10.000Z",
                                                    "notAfter": "2014-11-25T15:19:10.000Z"
                                                 }
                                    },
                                    "regionConfig": {
                                                      "proximityUUID": "f7826da6-4fa2-4e98-8024-bc5b71e0893e"
                                                    },
                                    "actionCategories": [{
                                            "name": "MyTemplate",
                                            "type": "re.notifica.notification.Alert",
                                            "actions": [{
                                                "label": "follow",
                                                "type": "re.notifica.action.Callback",
                                                "target": "",
                                                "camera": false,
                                                "keyboard": false,
                                                "destructive": false
                                            }]
                                        }],
                                    "locationTtl": 7,
                                    "production": false,
                                    "active": true,
                                    "blocked": false,
                                    "date": "2012-11-28T15:31:54.904Z",
                                    "category": "Other"
                                  }
                ]
        }


## New Application [/application]
### Create an application [POST]
Create a new application. This request must be authenticated with the `token`.

+ Parameters

    + name (required, string, `My Amazing App`)...Your application's name.
    + production (required, `boolean`)...If your application is set to production or not.
    + category (required, string, `Business`)...Your application's category.
    + actionCategories (optional, array, `[{"name:"My Template", type:"re.notifica.notification.Alert", actions: [{label:"Reply", type:"re.notifica.action.Callback", target:"", camera:false, keyboard:false, destructive:false}"}]`)...An array of objects that can be used as templates for messages.

+ Request (application/json)

        {
                "name":"My Amazing App",
                "production": true,
                "category": "Business"
        }


+ Response 201 (application/json; charset=utf-8)

        {
                "application":{
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                              }
        }

## Application [/application/{application}]
### Get a specific application [GET]
Get an application object. This request must be authenticated with the `token`.

+ Parameters

    + application (required, string, `5245bc5b3e66a3b01f0024d4`)...The account id of an active application.


+ Response 200 (application/json; charset=utf-8)

        {
                "application":{
                                   "_id":"5245bc5b3e66a3b01f0024d4",
                                   "account": "xxxxxxxxxxx",
                                   "applicationKey": "xxxxxxxxxxxxx",
                                   "applicationSecret": "xxxxxxxxxxxx",
                                   "authProviders": [
                                                      {
                                                        "provider": "twitter"
                                                      }
                                                    ],
                                   "masterSecret": "xxxxxxxxxx",
                                   "name": "Your App",
                                   "gcmConfig": {
                                                 "key": "xxxxxxxxxxxxxxxxxxxxx"
                                    },
                                   "apnsConfig": {
                                                   "certificate": "raw certificate",
                                                   "info": {
                                                   "serial": "xxxxxx",
                                                   "subject": {
                                                                "UID": "re.notifica.test",
                                                                "CN": "Apple Development IOS Push Services: re.notifica.test",
                                                                "OU": "XXXXXXXXXX",
                                                                "C": "NL"
                                                    },
                                                    "issuer": {
                                                                "C": "US",
                                                                "O": "Apple Inc.",
                                                                "OU": "Apple Worldwide Developer Relations",
                                                                "CN": "Apple Worldwide Developer Relations Certification Authority"
                                                    },
                                                    "notBefore": "2013-11-25T15:19:10.000Z",
                                                    "notAfter": "2014-11-25T15:19:10.000Z"
                                                 }
                                    },
                                    "regionConfig": {
                                                      "proximityUUID": "f7826da6-4fa2-4e98-8024-bc5b71e0893e"
                                                    },
                                    "actionCategories": [{
                                                                                "name": "MyTemplate",
                                                                                "type": "re.notifica.notification.Alert",
                                                                                "actions": [{
                                                                                    "label": "follow",
                                                                                    "type": "re.notifica.action.Callback",
                                                                                    "target": "",
                                                                                    "camera": false,
                                                                                    "keyboard": false,
                                                                                    "destructive": false
                                                                                }]
                                                                            }],
                                    "locationTtl": 7,
                                    "production": false,
                                    "active": true,
                                    "blocked": false,
                                    "date": "2012-11-28T15:31:54.904Z",
                                    "category": "Other"
                                  }
                ]
        }


### Modify a specific application [PUT]
Modify an application. This request must be authenticated with the `token`.

+ Parameters

    + application (required, string, `5245bc5b3e66a3b01f0024d4`)...The account id of an active application.


+ Request (application/json)

        {
                "name":"My Amazing App",
                "production": true,
                "category": "Business"
        }


+ Response 200 (application/json; charset=utf-8)

        {
                "message":"application changes saved"
        }




### Detele a specific application [DELETE]
Destroy an application. This operation can not be undone. This request must be authenticated with the `token`.

+ Parameters

    + application (required, string, `5245bc5b3e66a3b01f0024d4`)...The account id of an active application.



+ Response 200 (application/json; charset=utf-8)

        {
                "message":"application deactivated"
        }


# Group Asset
Storage is an add-on of Notificare. When active this add-on will let you manage files and create groups of assets to be used in your applications.
Therefore this add-on is divided in two different endpoints: assets and asset groups. Assets being the files you can upload to Notificare and asset groups being the groups of files that can be used in an application.

## Assets [/asset{?limit,skip}]
### Get all the assets [GET]
Get all the assets for an application.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

       {
            "assets":[{
                                "_id": "5708dff98f252b8f23fe05100",
                                "application": "5354f0bb3fa544f52ff4cff0",
                                "key": "3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6",
                                "fileName": "/notifications/3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6",
                                "contentLength": 59609,
                                "contentType": "image/png",
                                "contentDisposition": "form-data; name=\"file\"; filename=\"Screenshot_2016-04-07-13-17-31.png\"",
                                "originalFileName": "Screenshot_2016-04-07-13-17-31.png",
                                "lastModified": "2016-04-09T10:25:28.129Z",
                                "__v": 0,
                                "customSortOrder": 0
                            },
                            {
                                "_id": "5708dff98f252b8f23fe05100",
                                "application": "5354f0bb3fa544f52ff4cff0",
                                "key": "3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6",
                                "fileName": "/notifications/3d99d18148e6f3dbcf4ff891c9a0ff63b0311feccc7b9d0c8c79fee9b4dde19/e457c97c76bc41ff524af3697cc5236cc06fd982a83f983046fff68ea56b1b6",
                                "contentLength": 59609,
                                "contentType": "image/png",
                                "contentDisposition": "form-data; name=\"file\"; filename=\"Screenshot_2016-04-07-13-17-31.png\"",
                                "originalFileName": "Screenshot_2016-04-07-13-17-31.png",
                                "lastModified": "2016-04-09T10:25:28.129Z",
                                "__v": 0,
                                "customSortOrder": 0
                            },
                         ],
                         "count": 2
       }



### New Asset [POST]
Create an asset in a specific application. Uploads a file to Notificare. The resulting filename is the path of that file inside the notificare storage. This can be used as a reference to the file in further processing or deleting.
The contents of the file should be in the body of the request and with the correct mime-type. So, e.g. an image should be of type `image/png`, `image/jpg` or `image/gif`, a pdf should be `application/pdf` and a video should be `video/mp4`.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Request (image/jpeg)
    ------BoundaryaQGxWlhjMW7v9kU1
    Content-Disposition: form-data; name="file"; filename="landscapes-202a.jpg"
    Content-Type: image/jpeg


+ Response 201 (application/json; charset=utf-8)

        {
                "_id": "570bff9ff09c7c399e721897"
                "key": "3d99d18148e6f3dbcf4ff891c9a02ffb0311feccc7b9d0c8c79fee9dddde19/51b73467c0665add7abfd4bc47ebfdff843f77f58dcb12cdeb3d0c094f0e9835"
        }

## Asset [/asset/{id}]

### Modify an asset [PUT]
Modify a specific asset.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + id (required, string, `5245bc5b3e66a3b01fff24d4`)...The asset's id.

+ Request (image/jpeg)
    ------BoundaryaQGxWlhjMW7v9kU1
    Content-Disposition: form-data; name="file"; filename="landscapes-202a.jpg"
    Content-Type: image/jpeg


+ Response 200 (application/json; charset=utf-8)

        {
                "message":"asset updated"
        }


### Delete an asset [DELETE]
Delete an asset. This operation can not be undone.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + id (required, string, `5245bc5b3e66a3b01fff24d4`)...The asset's id.


+ Response 204 (application/json; charset=utf-8)


## Asset Groups [/asset/group{?limit,skip}]
### Get all the asset groups [GET]
Get all the asset groups for an application.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

       {
            "assetGroups":[{
                                "_id": "56f3444fc34c01653ffccdf0",
                                "application": "5354f0bb3fa54ff52ff4c7c0",
                                "name": "testing",
                                "segment": "5354f0bb3fa54ff52ff4c7c0",
                                "notBefore": null,
                                "notAfter": null,
                                "assets":[
                                            {
                                            "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                            "key": "3d99d18148e6f3dbcf4ff891c9a02646ff311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b8ff1c61faa7b79036fd2670db2840de979cab03",
                                            "description": "",
                                            "_id": "56f3444fcff01653c7ccdf1",
                                            "button":{
                                                        "label": "",
                                                        "action": ""
                                                     }
                                            }
                                ]
                            },
                            {
                                "_id": "56f3444fc34c01653c7ccdf0",
                                "application": "5354f0bb3fa544452ff4c7c0",
                                "name": "testing",
                                "segment": "5354f0bb3fa54ff52ff4c7c0",
                                "notBefore": null,
                                "notAfter": null,
                                "assets":[
                                            {
                                            "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                            "key": "3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03",
                                            "description": "",
                                            "_id": "56f3444fc34c01653c7ccdf1",
                                            "button":{
                                                        "label": "",
                                                        "action": ""
                                                     }
                                            }
                                ]
                            },
                         ],
                         "count": 2
       }


## Asset Groups By Name [/asset/group{?limit,skip}]
### Get all the asset groups by name [GET]
Get all the asset groups for an application. Because asset groups can share the same name you might need to get all asset groups with the same name. Use this endpoint to retrieve assets with the same name.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

       {
            "assetGroups":[{
                                "_id": "56f3444fc34c01653ffccdf0",
                                "application": "5354f0bb3fa54ff52ff4c7c0",
                                "name": "testing",
                                "segment": "5354f0bb3fa54ff52ff4c7c0",
                                "notBefore": null,
                                "notAfter": null,
                                "assets":[
                                            {
                                            "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                            "key": "3d99d18148e6f3dbcf4ff891c9a02646ff311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b8ff1c61faa7b79036fd2670db2840de979cab03",
                                            "description": "",
                                            "_id": "56f3444fcff01653c7ccdf1",
                                            "button":{
                                                        "label": "",
                                                        "action": ""
                                                     }
                                            }
                                ]
                            },
                            {
                                "_id": "56f3444fc34c01653c7ccdf0",
                                "application": "5354f0bb3fa544452ff4c7c0",
                                "name": "testing",
                                "segment": "5354f0bb3fa54ff52ff4c7c0",
                                "notBefore": null,
                                "notAfter": null,
                                "assets":[
                                            {
                                            "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                            "key": "3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03",
                                            "description": "",
                                            "_id": "56f3444fc34c01653c7ccdf1",
                                            "button":{
                                                        "label": "",
                                                        "action": ""
                                                     }
                                            }
                                ]
                            },
                         ],
                         "count": 2
       }



### New Asset Group [POST]
Create an asset group in a specific application. This allows you to group assets in a group can then later be retrieved in your applications using the SDKs.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + name (required, string, `My Banner Set`)...The asset group's name
    + segment (optional, string, `5354f0bb3fa54ff52ff4c7c0`)...The segment for this asset group
    + notBefore (optional, date, `2012-11-28T15:31:54`)...Asset groups will not be visible before this date.
    + notAfter (optional, date, `2014-11-28T15:31:54`)...Asset groups will not be visible after this date.
    + assets (required, array, `[{ "title": "My Banner Set"... }]`)...An array of objects.

+ Request (application/json)

        {
                "name": "My Banner Set",
                "segment": "5354f0bb3fa54ff52ff4c7c0",
                "notBefore": null,
                "notAfter": null,
                "assets":[
                            {
                                "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                "key": "3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03",
                                "description": "",
                                "_id": "56f3444fc34c01653c7ccdf1",
                                "button":{
                                            "label": "",
                                            "action": ""
                                         }
                            },
                            {
                                "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                "key": "3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03",
                                "description": "",
                                "_id": "56f3444fc34c01653c7ccdf1",
                                "button":{
                                            "label": "",
                                            "action": ""
                                         }
                            }
                ]
        }


+ Response 201 (application/json; charset=utf-8)

        {
                "assetGroup": {
                                "_id": "56f3444fc34c01653c7ccdf1"
                              }
        }


## Asset Group [/asset/group/{id}]

### Get an asset group [GET]
Get a specific asset group.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + id (required, string, `5245bc5b3e66a3b01f0024d4`)...The asset group's id.

+ Response 200 (application/json; charset=utf-8)

       {
            "assetGroup":{
                                "_id": "56f3444fc34c01653ffccdf0",
                                "application": "5354f0bb3fa54ff52ff4c7c0",
                                "name": "testing",
                                "segment": "5354f0bb3fa54ff52ff4c7c0",
                                "notBefore": null,
                                "notAfter": null,
                                "assets":[
                                            {
                                            "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                            "key": "3d99d18148e6f3dbcf4ff891c9a02646ff311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b8ff1c61faa7b79036fd2670db2840de979cab03",
                                            "description": "",
                                            "_id": "56f3444fcff01653c7ccdf1",
                                            "button":{
                                                        "label": "",
                                                        "action": ""
                                                     }
                                            }
                                ]
                            }
       }


### Modify an asset group [PUT]
Modify a specific asset group.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + id (required, string, `5245bc5b3e66a3b01f0024d4`)...The asset group's id.
    + name (required, string, `My Banner Set`)...The asset group's name
    + segment (optional, string, `5354f0bb3fa54ff52ff4c7c0`)...The segment for this asset group
    + notBefore (optional, date, `2012-11-28T15:31:54`)...Asset groups will not be visible before this date.
    + notAfter (optional, date, `2014-11-28T15:31:54`)...Asset groups will not be visible after this date.
    + assets (required, array, `[{ "title": "My Banner Set"... }]`)...An array of objects.

+ Request (application/json)

        {
                "name": "My Banner Set",
                "segment": "5354f0bb3fa54ff52ff4c7c0",
                "notBefore": null,
                "notAfter": null,
                "assets":[
                            {
                                "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                "key": "3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03",
                                "description": "",
                                "_id": "56f3444fc34c01653c7ccdf1",
                                "button":{
                                            "label": "",
                                            "action": ""
                                         }
                            },
                            {
                                "title": "Screen Shot 2016-03-24 at 00.04.49.png",
                                "key": "3d99d18148e6f3dbcf4ff891c9a026463b0311feccc7b9d0c8c79fee9b4dde19/c76c6363a7e014fae1586fa9b83b1c61faa7b79036fd2670db2840de979cab03",
                                "description": "",
                                "_id": "56f3444fc34c01653c7ccdf1",
                                "button":{
                                            "label": "",
                                            "action": ""
                                         }
                            }
                ]
        }


+ Response 200 (application/json; charset=utf-8)

        {
                "message": "asset group updated"
        }

### Delete an asset group [DELETE]
Delete an asset group. This operation can not be undone.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + id (required, string, `5245bc5b3e66a3b01fff24d4`)...The asset group's id.


+ Response 200 (application/json; charset=utf-8)
        {
                "message": "asset group removed"
        }


# Group Automation
Automation is an add-on of Notificare. It will give you access to mechanisms that can automate how you send notifications.

## Datasources [/datasource]
### Get all the datasources [GET]
Get all the datasources for an application.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Response 200 (application/json; charset=utf-8)

       {
            "datasources":[{
                                "_id":"55c0c7f4fed3e3bb70e2e86b",
                                "type":"feed",
                                "application":"5489b42ff23e5815132b492a",
                                "lastRun":"2015-11-13T15:19:10.698Z",
                                "name":"Blog",
                                "config":{
                                            "url":"http://notifica.re/blog/feed.xml",
                                            "messageType":"re.notifica.notification.Alert"
                                         },
                                "feedMap":"tag_newsletter",
                                "lastParsed":"2015-11-12T08:28:53.000Z",
                                "categoryMap":[],
                                "mapTarget":"tag",
                                "mapType":"feed",
                                "nextRun":"2015-11-13T15:34:10.698Z",
                                "active":true
                            },
                            {
                                "_id":"55c0c7f4fed3e3bb70e2e86b",
                                "type":"feed",
                                "application":"5489b42ff23e5815132b492a",
                                "lastRun":"2015-11-13T15:19:10.698Z",
                                "name":"Blog",
                                "config":{
                                            "url":"http://notifica.re/blog/feed.xml",
                                            "messageType":"re.notifica.notification.Alert"
                                         },
                                "feedMap":"tag_newsletter",
                                "lastParsed":"2015-11-12T08:28:53.000Z",
                                "categoryMap":[],
                                "mapTarget":"tag",
                                "mapType":"feed",
                                "nextRun":"2015-11-13T15:34:10.698Z",
                                "active":true
                            },
                         ],
                         "count": 2
       }



### New Datasource [POST]
Create a datasource.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + name (required, string, `My Feed`)...The source's name
    + type (required, string, `feed`)...The type of datasource. Accepts one of these: 'feed', 'upload'.
    + config (required, object, `{"url":"http://notifica.re/blog/feed.xml","messageType":"re.notifica.notification.Alert"}`)...An object containing the URL's source and the notification type.
    + feedMap (required, string, `tag_newsletter`)...A string representing a tag or a segment Id.
    + mapType (required, string, `feed`)...The type of mapping for the source. Accepts one of these: 'feed', 'category'.
    + mapTarget (required, string, `tag`)...The mapping target for the source. Accepts one of these: 'tag', 'segment'.
    + categoryMap (optional, object, `{"category":"Newsletter","target":"tag_newsletter"}`)...An object containing the category and the target's tag or segment Id. Only used and required if you choose category in mapType.


+ Request (application/json)

        {
                "name": "My Feed",
                "type": "feed",
                "config": {
                            "url":"http://notifica.re/blog/feed.xml",
                            "messageType":"re.notifica.notification.Alert"
                          },
                "feedMap": "tag_newsletter",
                "mapType": "tag"
        }


+ Response 200 (application/json; charset=utf-8)

        {
                "datasource": {
                                "_id": "56f3444fc34c01653c7ccdf1"
                              }
        }


## Datasource [/datasource/{id}]

### Get a specific the datasource [GET]
Get a specific datasource.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + id (required, string, `55c0c7f4fed3e3ff70e2e86b`)...The source's id.

+ Response 200 (application/json; charset=utf-8)

       {
            "datasource":{
                                "_id":"55c0c7f4fed3e3bb70e2e86b",
                                "type":"feed",
                                "application":"5489b42ff23e5815132b492a",
                                "lastRun":"2015-11-13T15:19:10.698Z",
                                "name":"Blog",
                                "config":{
                                            "url":"http://notifica.re/blog/feed.xml",
                                            "messageType":"re.notifica.notification.Alert"
                                         },
                                "feedMap":"tag_newsletter",
                                "lastParsed":"2015-11-12T08:28:53.000Z",
                                "categoryMap":[],
                                "mapTarget":"tag",
                                "mapType":"feed",
                                "nextRun":"2015-11-13T15:34:10.698Z",
                                "active":true
                            }
       }



### Modify a datasource [PUT]
Modify a datasource.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + id (required, string, `5245bc5b3e66a3b01f0024d4`)...The source's id.
    + name (required, string, `My Feed`)...The source's name
    + type (required, string, `feed`)...The type of datasource. Accepts one of these: 'feed', 'upload'.
    + config (required, object, `{"url":"http://notifica.re/blog/feed.xml","messageType":"re.notifica.notification.Alert"}`)...An object containing the URL's source and the notification type.
    + feedMap (required, string, `tag_newsletter`)...A string representing a tag or a segment Id.
    + mapType (required, string, `feed`)...The type of mapping for the source. Accepts one of these: 'feed', 'category'.
    + mapTarget (required, string, `tag`)...The mapping target for the source. Accepts one of these: 'tag', 'segment'.
    + categoryMap (optional, object, `{"category":"Newsletter","target":"tag_newsletter"}`)...An object containing the category and the target's tag or segment Id. Only used and required if you choose category in mapType.


+ Request (application/json)

        {
                "name": "My Feed",
                "type": "feed",
                "config": {
                            "url":"http://notifica.re/blog/feed.xml",
                            "messageType":"re.notifica.notification.Alert"
                          },
                "feedMap": "tag_newsletter",
                "mapType": "tag"
        }


+ Response 200 (application/json; charset=utf-8)

        {
                "message":"datasource updated"
        }

### Delete a datasource [DELETE]
Delete a datasource. This operation can not be undone.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + datasource (required, string, `5245bc5b3e66a3b01f0024d4`)...The source's id.


+ Response 200 (application/json; charset=utf-8)

        {
                "message":"datasource deleted"
        }


## New Datasource Test [/datasource/test]

### Test a new datasource feed [POST]
Test a datasource feed before actually creating it.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + config (required, object, `{"url":"http://notifica.re/blog/feed.xml","messageType":"re.notifica.notification.Alert"}`)...An object containing the URL's source and the notification type.

+ Request (application/json)

        {
                "config": {
                            "url":"http://notifica.re/blog/feed.xml",
                            "messageType":"re.notifica.notification.Alert"
                }
        }

+ Response 200 (application/json; charset=utf-8)

        {
                "feed": {
                            "meta": {
                                    "title": "Notificare",
                                    "description": "Our Blog",
                                    "date": "2016-06-24T09:00:00.000Z"
                            },
                            "items": [{
                                    "title": "MobileStrategy and Notificare announce...",
                                    "description": "<p><br />\n<strong>Press release</strong>...",
                                    "date": "2016-06-24T09:00:00.000Z",
                                    "link": "http://notifica.re/blog/2016/06/24/MobileStrategy-Notificare-Partnership/"
                            }, {
                                    "title": "Notificare receives ISO 27001 certification",
                                    "description": "<p><br />\nFrom day 1, we set out to provide...",
                                    "date": "2016-02-26T13:02:00.000Z",
                                    "link": "http://notifica.re/blog/2016/02/26/Notificare-ISO-Certification/"
                            }]
                }
       }



## Existing Datasource Test [/datasource/{id}/test]

### Test an existing datasource feed [PUT]
Test a datasource feed that is already created.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + id (required, string, `5245bc5b3e66a3b01f0024d4`)...The source's id.

+ Response 200 (application/json; charset=utf-8)

        {
                "feed": {
                            "meta": {
                                    "title": "Notificare",
                                    "description": "Our Blog",
                                    "date": "2016-06-24T09:00:00.000Z"
                            },
                            "items": [{
                                    "title": "MobileStrategy and Notificare announce...",
                                    "description": "<p><br />\n<strong>Press release</strong>...",
                                    "date": "2016-06-24T09:00:00.000Z",
                                    "link": "http://notifica.re/blog/2016/06/24/MobileStrategy-Notificare-Partnership/"
                            }, {
                                    "title": "Notificare receives ISO 27001 certification",
                                    "description": "<p><br />\nFrom day 1, we set out to provide...",
                                    "date": "2016-02-26T13:02:00.000Z",
                                    "link": "http://notifica.re/blog/2016/02/26/Notificare-ISO-Certification/"
                            }]
                }
       }


# Group Beacon
Methods to manage your beacons. Be sure to add the `regionConfig.proximityUUID` in your Application and create a Region first.
Also beacons require that you create a triggered message previously.


## Beacons [/beacon/forregion/{region}]
### Get all beacons for a certain region [GET]
Get all beacons for a certain region.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + region (required, string, `5245bc5b3e66a3b01f0024d4`)...The id of an active region.


+ Response 200 (application/json; charset=utf-8)

        {
                "beacons":[{
                       "_id":"5245bc5b3e66a3b01f0024d4",
                       "notification":"6245bc5b3e66a3b01f0024d5",
                       "name": "My Beacon",
                       "major": "654321",
                       "minor": "123456",
                       "proximity": "immediate"
                },
                {
                       "_id":"5245bc5b3e66a3b01f0024d4",
                       "notification":"6245bc5b3e66a3b01f0024d5",
                       "name": "My Beacon",
                       "major": "654321",
                       "minor": "123456",
                       "proximity": "immediate"
                }]
        }

## New Beacon [/beacon]

### Create a new beacon for a region [POST]
Create a new beacon for a region. To complete this request you must create a triggered Notification first. 
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + name (required, string, `My Beacon`)...Your beacon's name
    + major (required, number, `654321`)...Your beacon's major identifier (must match a previously created identifier of a region)
    + minor (required, number, `123456`)...Your beacon's minor identifier (must be unique per major)
    + proximity (optional, string, `immediate`)...Your notification proximity. Accepts one of these: 'immediate', 'near' and 'far'. (deprecated)
    + notification (optional, string, `5245bc5b3e66a3b01f0024d4`)...An Id of a previously created notification. (deprecated)
    + proximityNotifications (optional, object, `{"immediate":"","near":"","far":""}`)...An object containing three previously created message Ids for each proximity level.
    + batteryLevel (optional, number, `10`)...An object representing the battery level of this beacon.
    + purpose (optional, string, `general`)...An object representing the purpose of the beacon. Accepts one of these: 'general', 'pay', 'info', 'staff', 'admin'.
    + latitude (optional, number, `5.435`)...An integer representing the beacon's latitude.
    + longitude (optional, number, `3.435`)...An integer representing the beacon's longitude.
    + data (optional, mixed, `{"mykey":"myvalue"}`)...A free form object that can be assigned to a beacon.
    + triggers (optional, `boolean`)...Set to true if this beacon can be used in triggers. Max. number of beacons that can use triggers is limited to 10.



+ Request (application/json)

        {
                "notification":"5245bc5b3e66a3b01f0024d4",
                "name": "My Beacon",
                "major": "654321",
                "minor": "123456",
                "proximity": "immediate"
        }


+ Response 201 (application/json; charset=utf-8)

        {
                "beacon":{
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                              }
        }

## Beacon [/beacon/{id}]
### Get a beacon object [GET]
Get a beacon object.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + beacon (required, string, `5245bc5b3e66a3b01f0024d4`)...The beacon id of an active beacon.


+ Response 200 (application/json; charset=utf-8)

        {
                "beacons":{
                                   "_id":"5245bc5b3e66a3b01f0024d4",
                                   "notification":"6245bc5b3e66a3b01f0024d5",
                                   "name": "My Beacon",
                                   "major": "654321",
                                   "minor": "123456",
                                   "proximity": "immediate"
        }


### Modify a beacon [PUT]
Modify a beacon.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Parameters

    + beacon (required, string, `5245bc5b3e66a3b01f0024d4`)...The beacon id of an active beacon.
    + name (required, string, `My Beacon`)...Your beacon's name
    + major (required, number, `654321`)...Your beacon's major identifier (must match a previously created identifier of a region)
    + minor (required, number, `123456`)...Your beacon's minor identifier (must be unique per major)
    + proximity (optional, string, `immediate`)...Your notification proximity. Accepts one of these: 'immediate', 'near' and 'far'. (deprecated)
    + notification (optional, string, `5245bc5b3e66a3b01f0024d4`)...An Id of a previously created notification. (deprecated)
    + proximityNotifications (optional, object, `{"immediate":"","near":"","far":""}`)...An object containing three previously created message Ids for each proximity level.
    + batteryLevel (optional, number, `10`)...An object representing the battery level of this beacon.
    + purpose (optional, string, `general`)...An object representing the purpose of the beacon. Accepts one of these: 'general', 'pay', 'info', 'staff', 'admin'.
    + latitude (optional, number, `5.435`)...An integer representing the beacon's latitude.
    + longitude (optional, number, `3.435`)...An integer representing the beacon's longitude.
    + data (optional, mixed, `{"mykey":"myvalue"}`)...A free form object that can be assigned to a beacon.
    + triggers (optional, `boolean`)...Set to true if this beacon can be used in triggers. Max. number of beacons that can use triggers is limited to 10.


+ Request (application/json)

        {
                "notification":"12345",
                "name": "My Beacon",
                "major": "654321",
                "minor": "123456",
                "proximity": "immediate"
        }


+ Response 200 (application/json; charset=utf-8)

        {
                "message":"beacon updated"
        }


### Delete a beacon [DELETE]
Delete a beacon. This operation can not be undone.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + beacon (required, string, `5245bc5b3e66a3b01f0024d4`)...The beacon id of an active beacon.


+ Response 200 (application/json; charset=utf-8)

        {
                "message":"beacon deleted"
        }



# Group Device
Methods to manage devices. 
Use these methods to retrieve information about devices for an application, for a specific user, for a specific tag or in a specific location.
Management of devices is exclusively made by our SDK libraries therefore you only get access to read operations.

## Devices [/device{?limit,skip}]

### Get all the devices for a specific application [GET]
Get all the devices for a specific application. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,"last_active":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }
                ],
                "count": 2
                          
        }



## Device [/device/{deviceID}]

### Get a specific device based on the deviceID [GET]
Get a specific device based on the deviceID.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + deviceID (required, string, `00a9b9bf-xxx9278-64d6a3f22476`)...The deviceID is the unique identifier provided by APNS or GCM.


+ Response 200 (application/json; charset=utf-8)

        {
                "device":{
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }


        }


## User Registration [/device/{deviceID}/user]

### Register User to Device [PUT]
Register a userID and userName to a device. If you have the Users & Authentication add-on, you can delegate user registration to you back-end API. This will prevent you apps from registering users with only the app keys and instead you can take care of this at the server side. Use this method to add a userID and userName to a device.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + deviceID (required, string, `00a9b9bf-xxx9278-64d6a3f22476`)...The deviceID is the unique identifier provided by APNS or GCM.

+ Request (application/json; charset=utf-8)

        {
                "userID": "12345678",
                "userName": "John Doe"
        }

+ Response 200 (application/json; charset=utf-8)

        {
                "message": "device updated"
        }

## User Unregistration [/device/{deviceID}/user]

### Unregister User from a device [DELETE]
Unregister a userID and userName from a device. If you have the Users & Authentication add-on, you can delegate user registration to you back-end API. This will prevent you apps from registering users with only the app keys and instead you can take care of this at the server side. Use this method to remove a userID and userName from a device.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + deviceID (required, string, `00a9b9bf-xxx9278-64d6a3f22476`)...The deviceID is the unique identifier provided by APNS or GCM.

+ Response 200 (application/json; charset=utf-8)

        {
                "message": "device updated"
        }


## Devices for User [/device/foruser/{user}{?limit,skip}]

### Get all the devices for a specific user [GET]
Get all the devices for a specific user. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + user (required, string, `testuser@example.com`)...The user ID is the one the client device registered with, e.g., the user's email address. 
    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }
                ],
                "count": 2
                          
        }





## Devices For Tag [/device/fortag/{tag}{?limit,skip}]

### Get all the devices for a specific tag [GET]
Get all the devices for a specific tag. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + tag (required, string, `toys`)...The tag the device is associated with
    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel
                              }
                ],
                "count": 2
                          
        }



## Devices for Location [/device/bylocation/{latitude}/{longitude}/{distance}{?limit,skip}]

### Get all the devices in a specific location [GET]
Get all the devices in a specific location. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.



+ Parameters

    + latitude (required, float, `4.2345`)...The desired latitude
    + longitude (required, float, `5.6789`)...The desired longitude
    + distance (required, float, `1.5`)...The distance in kilometers of your search area relative to the latitude and longitude
    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }
                ],
                "count": 2
                          
        }


## Devices within Bounds [/device/bylocation/{lat1}/{long1}/{lat2}/{long2}{?limit,skip}]

### Get all the devices withing a specific bounds [GET]
Get all the devices withing a specific bounds. Bounds form a rectangle from the points at its south-west and north-east corners. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.



+ Parameters

    + lat1 (required, float, `4.2345`)...The desired south-east latitude
    + long1 (required, float, `5.6789`)...The desired south-east longitude
    + lat2 (required, float, `4.2345`)...The desired north-west latitude
    + long2 (required, float, `5.6789`)...The desired north-west longitude
    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }
                ],
                "count": 2

        }

## Devices for Region [/device/forregion/{region}{?limit,skip}]

### Get all the devices in a specific region [GET]
Get all the devices in a specific region. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.



+ Parameters

    + region (required, string, `5245bc5b3e66a3b01f0024d4`)...The id of the region
    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }
                ],
                "count": 2

        }


## Devices for Polygon [/device/bygeometry{?limit,skip}]

### Get all the devices in a specific geometric shape. [POST]
Get all the devices in a specific geometric shape. If skip and limit are not used, there is a default size of 100 devices. Please note that there is a max. size of 1000 devices per page.
This request is authenticated with the `applicationKey` and  `masterSecret`.



+ Parameters

    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip

+ Request (application/json; charset=utf-8)

        {
                "geometry": [
                              [4.2345,5.6789],[4.2345,5.6789],[4.2345,5.6789],[4.2345,5.6789],[4.2345,5.6789]
                            ]
        }

+ Response 200 (application/json; charset=utf-8)

        {
                "devices":[
                              {
                                  "_id":"5245bc5b3e66a3b01f0024d4"
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[4.2345,5.6789],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              },
                               {
                                  "_id":"5245bc5b3e66a3b01f0024d4",
                                  "appVersion":"1.0",
                                  "application":"52458981394c07916000492c",
                                  "deviceID":"00a9b9bf-c099-45aa-9278-64d6a3f22476",
                                  "osString":"Mac OS X 10.9.2",
                                  "osVersion":"10.9.2",
                                  "platform":"Mac OS X",
                                  "sdkVersion":"0.0.1",
                                  "transport":"Websocket",
                                  "userID":"info@notifica.re",
                                  "timeZoneOffset":-5,
                                  "lastActive":"2014-03-11T16:20:55.084Z",
                                  "active":true,
                                  "tags":[
                                          toys
                                  ],
                                  "location":{
                                               "coordinates":[],
                                               "type":"Point"
                                  },
                                  "language":"en",
                                  "deviceString":"MacIntel"
                              }
                ],
                "count": 2

        }



# Group Event
Get all the Events stored for a specific application.

## Event Types:
| type | description |
|:---------:|----------------------------------|
| re.notifica.event.application.Install | Stored whenever a new device installs the app. |
| re.notifica.event.application.Uninstall | Stored whenever an app was removed from the device, as reported by APNS or GCM feedback. |
| re.notifica.event.application.Open | Stored whenever the application becomes active. |
| re.notifica.event.application.Close | Stored whenever the application goes to background. |
| re.notifica.event.notification.Influenced | Stored whenever a notification when app is not active. |
| re.notifica.event.notification.Receive | Stored whenever a notification arrives. |
| re.notifica.event.notification.Open | Stored whenever a notification is open. |
| re.notifica.event.region.Session | Stored whenever a user enters and leaves a region. |
| re.notifica.event.beacon.Session | Stored whenever a user is on the proximity of a beacon. |
| re.notifica.event.pass.Add | Stored whenever a pass is added to a device's wallet. |
| re.notifica.event.pass.Remove | Stored whenever a pass is removed from a device's wallet. |
| re.notifica.event.pass.Redeem | Stored whenever a pass is redeemed. |
| re.notifica.event.product.Buy | Stored whenever a purchase is done. |
| re.notifica.event.product.Buy.{store} | Stored whenever a purchase is done, where store is AppStore or GooglePlay. |
| re.notifica.event.product.Buy.{store}.{identifier} | Stored whenever a purchase is done, where store is AppStore or GooglePlay. |

## Event Collection [/event/fortype/{type}{?limit,skip,since,before,region}]

### Get all the events for a specific application [GET]
Get all the Events types stored for a specific application.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + type (required, string, `re.notifica.event.application.Install`)...The type of event.
    + limit = `100` (optional, number, `10`)...The maximum number of results to retrieve.
    + skip = `0` (optional, number, `0`)...The number of results to skip
    + since =  (optional, date, `2014-10-03`)...When provided will only retrieve events after this date
    + before =  (optional, date, `2014-10-04`)...When provided will only retrieve events before this date (only available when a since date is provided)
    + region = (optional, string, `542f1868d341d51284b`)...The region's id of an event of type re.notifica.event.region.Session or re.notifica.event.beacon.Session

+ Response 200 (application/json; charset=utf-8)

        {
                "events":[
                              {
                                "_id":"542f1868d341d51284b",
                                "application":"5354f3545a544452ff4c7c0",
                                "userID":null,
                                "sessionID":"5SX4tAmO345juHL",
                                "time":"2014-10-03T21:43:04.231Z",
                                "type":"re.notifica.event.application.Install"
                              },
                              {
                                "_id":"542f153401d51284b",
                                "application":"5354f3545a544452ff4c7c0",
                                "userID":null,
                                "sessionID":"5SX4tAsd534MjuHL",
                                "time":"2014-10-03T21:43:04.231Z",
                                "type":"re.notifica.event.application.Install"
                              },
                ]

        }

## Event [/event/{id}]

### Get an event object [GET]
Get a specific event object.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + id (required, string, `542f1868d341d51284b`)...The event's Id.


+ Response 200 (application/json; charset=utf-8)

        {
                "event":{
                             "_id":"542f153401d51284b",
                             "application":"5354f3545a544452ff4c7c0",
                             "userID":null,
                             "sessionID":"5SX4tAsd534MjuHL",
                             "time":"2014-10-03T21:43:04.231Z",
                             "type":"re.notifica.event.application.Install"
                           }

        }


# Group Export
Methods for exporting users and devices.

## Exports [/export]

### Get all export jobs for an application [GET]
Get all export jobs for an application.
This request is authenticated with the `applicationKey` and  `masterSecret`.



+ Response 200 (application/json; charset=utf-8)

        {
                "exportJobs":[
                                {
                                   "_id":"54fec699beb5cb2f6f9839ed",
                                   "application":"5354f08474adc4183214c143",
                                   "data":null,
                                   "result":"created export file export-user-1425983129369.csv (919 bytes)",
                                   "date":"2015-03-10T10:25:29.340Z",
                                   "status":"success",
                                   "type":"re.notifica.export.User"
                                }
                             ]

        }


## Export Devices [/export/re.notifica.export.Device]
### Export Devices [POST]
Export all devices for an application. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + all (optional, boolean, `true`)...Specify if export job should include all devices, including inactive ones
    + includeTags (optional, boolean, `true`)...Specify if export job should include all device tags
    + tagsSeparator (optional, string, `-`)...Specify if export jobs should use a different separator for the tags. By default we will use |


+ Request (application/json; charset=utf-8)

        {
                "data": {
                    "all": true,
                    "includeTags": true,
                    "tagsSeparator": "-"
                }
        }

+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }


## Export Users [/export/re.notifica.export.User]
### Export Users [POST]
Export all users for an application. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + all (optional, boolean, `true`)...Specify if export job should include all users, including inactive ones
    + showSegments (optional, mixed, `true`)...Specify if export job should include all segments. This property can also be an array of segment IDs, if you are looking to include only certain segments. Please note that export jobs will fail if you have users with more than 2000 segments
    + showCombinedSegments (optional, boolean, `re.notifica.export.Device`)...When showSegments is true or it includes a list of segments, you can specify if export jobs should show all segments in one column or in separate columns.
    + useSegmentNames (optional, boolean, `true`)...When showSegments is true or it includes a list of segments, you can specify if export jobs should contain the name of the segments instead of their IDs
    + showPreferences (optional, boolean, `true`)...When showSegments is true or it includes a list of segments, you can specify if export jobs should also contain user selectable segments


+ Request (application/json; charset=utf-8)

        {
                "data": {
                    "all": true,
                    "showSegments": [
                        "5245bc5b3e66a3b01f0024d4",
                        "5245bc5b3e66a3b01f0024d5"
                    ],
                    "showCombinedSegments": true
                    "useSegmentNames": true
                    "showPreferences": false
                }
        }

+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }


## Export User Data [/export/re.notifica.export.UserData]
### Export User Data [POST]
Export all the data of a specific user. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + userID (optional, string, `john@doe.com`)...Specify which user you want to export data from


+ Request (application/json; charset=utf-8)

        {
                "data": {
                    "userID": "john@doe.com"
                }
        }

+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }

## Export Regions [/export/re.notifica.export.Region]
### Export Regions [POST]
Export all regions for an application. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }

## Export Beacons [/export/re.notifica.export.Beacon]
### Export Beacons [POST]
Export all beacons for an application. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.


+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }

## Export Notifications [/export/re.notifica.export.Notification]
### Export Notifications [POST]
Export notifications for an application. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + all (optional, boolean, `true`)...Specify if export job should include all notifications, including archived ones
    + since (optional, string, `YYYY-MM-DD`)...Specify if export job should only include notifications created after a certain date
    + before (optional, string, `YYYY-MM-DD`)...Specify if export job should only include notifications created before a certain date
    + useSegmentNames (optional, boolean, `true`)...Specify if export jobs should contain the name of the segments instead of their IDs


+ Request (application/json; charset=utf-8)

        {
                "data": {
                    "all": true,
                    "since": "2018-01-01",
                    "before": "2018-12-01"
                    "useSegmentNames": true
                }
        }

+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }

## Export Replies [/export/re.notifica.export.Reply]
### Export Replies [POST]
Export replies for a specific notification. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + notification (required, string, `5245bc5b3e66a3b01f0024d4`)...The id of the notification you wish to export replies from

+ Request (application/json; charset=utf-8)

        {
                "data": {
                    "notification": "5245bc5b3e66a3b01f0024d4"
                }
        }

+ Response 201 (application/json; charset=utf-8)

        {
                "exportJob": {
                        "id": "5245bc5b3e66a3b01f0024d4"
                }
        }

## Export Events [/export/re.notifica.export.Event]
### Export Events [POST]
Export all the events for a certain type. This job might take some time to finish, check the export result endpoint to obtain information about the status of this export job.
This request is authenticated with the `applicationKey` and  `masterSecret`.

+ Parameters

    + type (required, string, `re.notifica.event.notification.Open`)...The type of the event you wish to export records from
    + since (optional, string, `YYYY-MM-DD`)...Specify if export job should only include events created after a certain date
    + before (optional, string, `YYYY-MM-DD`)...Specify if export job should only include events created before a certain date
[...]
